.ui-pic-item {
    position: relative;
    float: left;
    margin: 20px 0 0 20px;
    width: 300px;
    height: 185px;
}
.ui-pic-item img{
    width: 300px;
    height: 185px;

}
.ui-pic-item .read{
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    height: 185px;
    text-indent: -9999px;
    /*background: url(http://cyjs.qiniudn.com/assets/transparent-d2444f2249f274e32a3b935fb24bd4d1.png);*/
}
.ui-pic-item header{
    position: absolute;
    left: 0;
    bottom: 12px;
    height: 46px;
    width: 140px;
    background: rgba(0,0,0,0.7);
    color: #FFF;
    padding: 6px 18px;
}
.ui-pic-item header h1{
    font:bold 12px/1.5 "microsoft yahei";
    margin-bottom: 6px;
}
.template-panel {
    margin: 20px auto 0;
    width: 940px;
}
.ui-tem-list {
    width:auto;
    margin-right: -35px;
}

.ui-tem-item {
    float: left;
    width: 160px;
    height: 285px;
    margin-right: 35px;
}
.ui-tem-item img{
    width: 160px;
    height: 285px;
}



.page-header .page-inner {
    position: relative;
    height: 60px;
    text-align: center;
}


.marry-list-medium {
    margin: 0 0 0 -19px;
}

.marry-list-medium .marry-list-item  {
    width: 314px;
    margin: 19px 0 0 19px;
}
.marry-list-small{
    margin: 0 0 0 -9px;
}
.marry-list-small .marry-list-item {
    width: 314px;
    margin:20px 0 0 9px;
}
.marry-list .marry-list-item {
    float: left;
    background: #fff;
    position: relative;
}
.marry-list .marry-list-item .cover {
    position: relative;

}
.marry-list-medium .marry-list-item .cover img{
    width: 306px;
    height: 190px;
    margin: 4px 4px 0 4px;
}
.marry-list-small .marry-list-item .cover img{
    width: 306px;
    height: 190px;
    margin: 4px 4px 0 4px;
}
.marry-list .marry-list-item header{
    position: absolute;
    left: 4px;
    bottom: 16px;
    height: 46px;
    width: 140px;
    background: rgba(0,0,0,0.7);
    color: #FFF;
    padding: 6px 18px;
}
.marry-list .marry-list-item header h1{
    font:bold 12px/1.5 "microsoft yahei";
    margin-bottom: 6px;
}
.marry-list .footer {
    height: 30px;
    margin: 4px;
    position: relative;
    color: #aca195;
}
.marry-list .user img{
    vertical-align: middle;
}
.marry-list .user a{

}
.marry-list .footer .counter {
    padding-left: 5px;
    position: absolute;
    right: 0;
    top: 4px;
    margin: 0;
}

.add-panel{
    background: #fff;
    width: 960px;
    margin: 40px 10px 20px;
    text-align: center;
}
.add-panel.step-second{
    width: 540px;
    margin: 70px auto 20px;
}

.add-panel header{
    height: 50px;
    line-height: 50px;

    position: relative;
    border-bottom: 1px solid #aca195;

}
.add-panel .icons{
    position: absolute;
    right: 0;
    top: 0;
    height: 20px;
    line-height: 20px;
    margin: -30px 0 0 0;
}

.add-panel .icon,.add-panel .dot{
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url("../assets/images/dot.png") -4px -32px no-repeat;
}
.add-panel .icon-active{
    background-position: -4px -5px;
}
.add-panel .dot{
    background-position: -25px -5px;
}
.add-panel .upload-panel {
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
}
.add-panel .step{
    position: absolute;
    left: 0;
    top: 0;
    width: 75px;
    height: 75px;
    margin: -35px 0 0 -30px;
    background: url("../assets/images/number-bg.png") -10px 0 no-repeat;
}
.add-panel .step span{
    color:#a9dc3c;
    font:bold 40px/75px Latha "microsoft yahei" "sans serif";
}
.add-panel .txt {
    float: right;
    margin-right: 15px;
}

.add-panel .num-txt {
    font-size: 24px;
}

.add-list-item {
    float: left;
    width: 120px;
    margin: 15px 0 0 15px;
    position: relative;
}
.add-list.thrid-step{
    margin: 0 30px 0 -6px;
}
.thrid-step .add-list-item{
    margin-left: 36px;

}
.add-list-item .description{
    margin-top: 10px;
    padding: 7px 9px;
    border:1px solid #ccc;
    width: 100px;
    height: 40px;
}
.add-panel .cover {
    width: 120px;
    height: 120px;
    position: relative;
}
.add-panel .cover img{
    width: 120px;
    height: 120px;
}

.add-list-item .close,.add-list-item .number {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #6addd3;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}
.add-list-item .close{
    top:0;
    right: 0;
}
.add-list-item .number{
    top: 100px;
    left: 0;
}
.add-panel .add-form{
    text-align:left;
    margin:35px 45px 0;
    padding-bottom: 63px;
}
.add-panel .add-form .form-title{
    font-size: 24px;
}
.add-panel .foot-txt {
    padding: 20px 0;
}

.add-btn {
    text-align: center;
}
.add-btn #nextBtn{
    margin-left: 30px;
}

.photo-show {
    background: #ebcaa3 url("../assets/images/photo-bg.jpg") repeat-x;

}

.top-tool {
    height: 60px;
}

.foot-tol {
    height: 80px;
}

.viewer {
}
.viewer .viewport-wrapper {
    position: absolute;
    top: 60px;
    width: 100%;
    left: 0;
    z-index: 1;
}
.user-header {
    height: 80px;
}

.user-header .create {
    right:0;
    margin: -17px 10px 0 0;
}
.user-header  .user-header-inner {
    width: 980px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.user-header  .user-header-inner .user-info{
    float: left;
    width: 250px;
    margin: 10px 0 0 10px;
    font-size: 14px;

}
.user-header .user-info .username,.user-header .user-info .description{
    float: left;
    color: #fff;
    margin: 5px 0 0 20px;

}
.user-header .user-info .description{
    margin-top: 10px;
}
.user-header  .user-header-inner .user-nav{
    position: absolute;
    right: 125px;
    top: 0;
}
.user-grid {
    width: 960px;
    margin: 20px auto 0;
    background: #fff;

}
.user-grid .outer{
    border-bottom: 1px solid #000000;
}
.user-grid .user-grid-item{
    padding-top:40px;
    margin: 0 80px;
}
.user-grid .user-grid-item img{
    width: 800px;
}
.user-grid .user-grid-item h1{
    height: 60px;
    line-height: 60px;
    font-size: 24px;
}
.user-grid .user-grid-item p{
    height: 40px;
}
.load-more {
    margin-top: 20px;
    text-align: center;
}
.user-grid-foot {
    margin: 30px 0 -30px 0;
    height: 290px;
    width:auto;
    background: #fff;

}
.user-grid-foot .outer {
    width: 960px;
    margin: 0 auto;
}

.user-edit-wrap {
    background: #fff;
    width: 960px;
    margin:40px auto 0;
    padding-top: 30px;
    color: #666666;
}

.user-edit-wrap  .user-edit-inner {
    margin:0 50px;
}
.user-edit-wrap  .user-edit-inner h1{
    font-size: 24px;
    height: 55px;

}