.ui-pic-item {
    position: relative;
    float: left;
    margin: 20px 0 0 20px;
    width: 300px;
    height: 185px;
}
.ui-pic-item img{
    width: 300px;
    height: 185px;

}
.ui-pic-item .read{
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    height: 185px;
    text-indent: -9999px;
    /*background: url(http://cyjs.qiniudn.com/assets/transparent-d2444f2249f274e32a3b935fb24bd4d1.png);*/
}
.ui-pic-item header{
    position: absolute;
    left: 0;
    bottom: 12px;
    height: 46px;
    width: 140px;
    background: #000;
    opacity: 0.7;
    /**filter: alpha(opacity=70);*/
    color: #FFF;
}
.ui-pic-item header h1{
    height: 46px;
    line-height: 46px;
    text-indent: 17px;
}
.template-panel {
    margin: 20px auto 0;
    width: 940px;
}
.ui-tem-list {
    width:auto;
    margin-right: -35px;
}

.ui-tem-item {
    position: relative;
    float: left;
    width: 160px;
    height: 285px;
    margin-right: 35px;
}
.ui-tem-item img{
    width: 160px;
    height: 285px;
}
.ui-tem-item .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 160px;
    height: 285px;
    background: #000;
    opacity: .08;
    /**filter: alpha(opacity=80);*/
    display: none;
}
.ui-tem-item:hover .overlay{
    display: block;
}


.page-header .page-inner {
    position: relative;
    height: 60px;
    text-align: center;
}


.marry-list-medium {
    margin: 0 0 0 -19px;
}

.marry-list-medium .marry-list-item  {
    width: 314px;
    margin: 19px 0 0 19px;
}
.marry-list-small{
    margin: 0 0 0 -9px;
}
.marry-list-small .marry-list-item {
    width: 314px;
    margin:20px 0 0 9px;
}
.marry-list .marry-list-item {
    float: left;
    background: #fff;
    position: relative;
}
.marry-list .marry-list-item .cover {
    position: relative;

}
.marry-list-medium .marry-list-item .cover img{
    width: 306px;
    height: 190px;
    margin: 4px 4px 0 4px;
}
.marry-list-small .marry-list-item .cover img{
    width: 306px;
    height: 190px;
    margin: 4px 4px 0 4px;
}
.marry-list .marry-list-item header{
    position: absolute;
    left: 4px;
    bottom: 16px;
    height: 46px;
    width: 140px;
    background: rgba(0,0,0,0.7);
    color: #FFF;
    padding: 6px 18px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.marry-list .marry-list-item header h1{
    font:bold 12px/1.5 "microsoft yahei";
    margin-bottom: 6px;
}
.marry-list .footer {
    height: 30px;
    margin: 0 4px 4px 4px;
    position: relative;
    color: #aca195;
}
.marry-list .user img{
    vertical-align: middle;
}
.marry-list .user a{

}
.marry-list .footer .counter {
    padding-left: 5px;
    position: absolute;
    right: 0;
    top: 4px;
    margin: 0;
}

.add-panel{
    background: #fff;
    width: 960px;
    margin: 40px 10px 20px;
}
.add-panel.first-step{
    text-align: center;
}
.add-panel.step-second{
    width: 540px;
    margin: 70px auto 20px;
}

.add-panel header{
    height: 50px;
    line-height: 50px;
    position: relative;
    z-index: 0;
    /*border-bottom: 1px solid #aca195;*/

}
.add-panel header .title{
    padding-left: 65px;
}
.add-panel .icons{
    position: absolute;
    right: 0;
    top: 0;
    height: 20px;
    line-height: 20px;
    margin: -30px 0 0 0;
}

.add-panel .icon,.add-panel .dot{
    width: 22px;
    height: 22px;
    display: inline-block;
    background: url("../assets/images/sprite.png") -66px -534px no-repeat;
}
.add-panel .icon-active{
    background-position: -66px -507px;
}
.add-panel .dot{
    background-position: -88px -508px;
}
.add-panel .upload-panel {
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 15px;
    top: 10px;
}
.add-panel .upload-panel .photo{
    margin-right: 15px;
}
.add-panel .step{
    position: absolute;
    left: 0;
    top: 0;
    width: 75px;
    height: 75px;
    margin: -35px 0 0 -15px;
    background: url("../assets/images/number-bg.png") -10px 0 no-repeat;
    font:bold 40px/75px "微软雅黑" "microsoft yahei" "sans serif";
    color:#a9dc3c;
    text-align: center;
}
.add-panel .step span{
    color:#a9dc3c;

}
.add-panel .txt {
    float: right;
    margin-right: 15px;
}

.add-panel .num-txt {
    font-size: 24px;
}
.upload-img-panel{
    height: 322px;
    overflow-y:scroll;
}
.add-list-item {
    float: left;
    width: 120px;
    margin: 0 0 20px 15px;
    position: relative;
}
.add-list.third-step{
    position: relative;
    margin: 0 0 0 -6px;
    height: 390px;
}
.add-list.third-step .slidee{
    overflow-y: scroll;
    height: 370px;
}
.third-step .add-list-item{
    margin-left: 36px;

}
.add-list-item .description{
    margin-top: 10px;
    padding: 7px 9px;
    border:1px solid #ccc;
    width: 100px;
    height: 40px;
    _margin-left:18px;
}
.add-panel .cover {
    width: 120px;
    height: 120px;
    position: relative;
}
.add-panel .cover img{
    width: 120px;
    height: 120px;
}

.add-list-item .close,.add-list-item .number {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #6addd3;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}
.add-list-item .close{
    top:0;
    right: 0;
    z-index: 30;
}
.add-list-item .number{
    top: 100px;
    left: 0;
}
.add-panel .add-form{
    text-align:left;
    margin: -6px 45px 0;
    padding-bottom: 63px;
}
.add-panel .add-form .form-title{
    font-size: 24px;
    color: #666666;
    font-weight: normal;
}
.add-panel .foot-txt {
    padding: 20px 0;
}
.add-panel .upload-info{
    font-size: 14px;
    text-align: right;
    padding-right: 20px;
}
.add-btn {
    text-align: center;
}
.add-btn #nextBtn{
    margin-left: 30px;
}

.photo-show {
    background: #ebcaa3 url("../assets/images/photo-bg.jpg") repeat-x;
}

.top-tool {
    height: 60px;
}

.foot-tol {
    height: 80px;
}

#footFool .prev-page,#footFool .next-page{
    display: block;
    width: 25px;
    height: 30px;
    text-indent: -9999px;
    background: url("../assets/images/show-sprite.png") no-repeat;
}
#footFool .prevPage,#footFool .nextPage{
    cursor: pointer;
}
#footFool .prev-page{
    background-position: 0 -53px;
}
#footFool .next-page{
    background-position: -31px -53px;
}

#footFool .counter {
    height: 20px;
    margin: 8px 0 0 0;
}

.viewer {
}
.viewer .viewport-wrapper {
    position: absolute;
    top: 60px;
    width: 100%;
    left: 0;
    z-index: 1;
}
.user-header {
    height: 80px;
    position: relative;
}

.user-header .create {
    right:0;
    z-index: 2;
    margin: -20px 10px 0 0;
}
.user-header  .user-header-inner {
    width: 980px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.user-header  .user-header-inner .user-info{
    float: left;
    width: 250px;
    margin: 10px 0 0 10px;
    font-size: 14px;

}
.user-header .user-info .username,.user-header .user-info .description{
    float: left;
    color: #fff;
    margin: 5px 0 0 20px;

}
.user-header .user-info .description{
    margin-top: 10px;
}
.user-header  .user-header-inner .user-nav{
    position: absolute;
    right: 140px;
    top: 0;
}
.user-grid {
    width: 960px;
    margin: 20px auto 0;
    background: #fff;

}
.user-grid .outer{
    border-bottom: 1px solid #000000;
}
.user-grid .outer:last-child{
    border:none;
}
.user-grid .user-grid-item{
    padding-top:40px;
    margin: 0 80px;
    color: #666666;
    position: relative;
}
.user-grid .user-grid-item img{
    width: 800px;
}
.user-grid .user-grid-item h1{
    height: 60px;
    line-height: 60px;
    font-size: 14px;

}
.user-grid .user-grid-item p{
    height: 40px;
    font-size: 12px;
}
.user-grid .user-grid-item .btns{
    position: absolute;
    top: 60px;
    right: 0;

    width: 200px;
}
.btns .trash{
    float: left;
}
.btns a{
    display: inline-block;
    text-indent: -9999px;
}
.btns .trash a{
    width: 32px;
    height: 32px;
    background:url("../assets/images/sprite.png") -124px -595px no-repeat;
}
.btns .fc{
    display: inline-block;
    margin-left: 16px;
    width: 135px;
    height: 32px;
    background: url("../assets/images/sprite.png") -5px -665px no-repeat;

}
.btns .fc .counter{
    margin: 6px 0 0 20px;
}
.user-grid .user-grid-item .view-btn{
    width: 100px;
    height: 50px;
    position: absolute;
    left: 50%;
    bottom: 65px;
    margin: 0 0 0 -50px;
    background: url("../assets/images/sprite.png") -2px -576px no-repeat;
}
.user-grid .user-grid-item .view-btn a{
    display: block;
    width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 14px;
    color: #fff;
}
.load-more {
    margin-top: 20px;
    text-align: center;
}
.user-grid-foot {
    margin: 30px 0 -30px 0;
    height: 290px;
    width:auto;
    background: #fff;

}
.user-grid-foot .outer {
    width: 960px;
    margin: 0 auto;
}

.user-edit-wrap {
    background: #fff;
    width: 960px;
    margin:40px auto 0;
    padding-top: 30px;
    color: #666666;
    position: relative;
}

.user-edit-wrap  .user-edit-inner {
    padding:0 50px;
    border-bottom: 1px solid #ededed;
}
.user-edit-wrap  .user-edit-inner h1{
    font-size: 24px;
    height: 55px;
}
.user-edit-wrap .form-panel{
    margin-top: 40px;
}
.user-edit-wrap .img-panel{
    position: absolute;
    right: 50px;
    top: 125px;
    margin-right: 50px;

}
.user-edit-wrap .img-panel img{
    width: 200px;
    height: 200px;
}
#photo-user-panel {
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    margin-top: 10px;
    z-index: 10;
}
#photo-user-panel .user-panel .arrow {
    background: #6addd3;
    border-color: #6addd3 #bce2e1 #bce2e1 #bce2e1;
}
#photo-user-panel .user-panel .user-active:hover{
    cursor: pointer;
}
#photo-user-panel .user-panel .user-active:hover .arrow{
    background: #fff;
    border-color:#fff #6addd3 #6addd3 #6addd3;
}

#commentPanel {
    width: 480px;
    height: 520px;
}
#commentPanel #comments-list {
    position: relative;
    width: 465px;
    height: 460px;
    overflow: auto;
    margin: 0 0 0 15px;
}

#commentPanel #comments-list #commentsSly{
    height: 440px;
}
#commentPanel .comment-input{
    width: 480px;
    height: 60px;
    background-color: #F0F0F0;
    border-radius: 6px;
}
#commentPanel .ui-comment-form {
}
#commentPanel .ui-comment-form .comment-btn,#commentPanel .ui-comment-form .comment-btn input{
    width: 80px;
}
#commentPanel .ui-comment-input {
    width: 340px;
    padding: 7px 9px 7px 9px;
    height: 26px;
    line-height: 26px;
    color:#c7c7c7;
    border: 1px solid #ccc;
    border-top-color: #a6a6a6;
    margin: 10px 0 0 15px;
}

#commentPanel .comment-btn {
    float: right;
    margin: 14px 10px 0 0;
}


#noticePanel{
    position: absolute;
    right: 0;
    top:40px;
    width: 350px;
    height: 420px;
    z-index: 20;
    background: #fff;
    display: none;
}
#noticePanel #noticeList{
    height: 420px;
    padding-left: 10px;
    overflow: auto;
}

.invitation-panel {
    width: 920px;
    margin-left: 40px;
}
.invitation-panel .invitation-form{
    width: 250px;
    float: left;
}
.form-item {
    color: #000;
    padding: 0 5px 15px 0;
    _padding: 0 5px 13px 0;
    zoom: 1;
}
.form-item .label{
    font-size: 18px;
    display: block;
}

.form-item .input {
    width: 240px;
    height: 30px;
    padding-left: 10px;
    border:1px solid #ccc;
    margin-top: 5px;
}

.form-item .textarea {
    padding-left: 10px;
    width: 240px;
    height: 55px;
}

.invitation-panel .invitation-template {
    width: 280px;
    float: right;

}
.invitation-template header{
    width: 240px;
    height: 50px;
    border-bottom: 1px solid #cecece;
}
.invitation-template header h2{
    font-size: 18px;
    color: #666666;
}

.invitation-template .invitation-list li{
    float: left;
    width: 110px;
    margin: 5px 5px 0 5px;
}
.invitation-template .invitation-list img{
    width: 110px;
    height: 195px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4;
}

.iphone5 {
    width: 306px;
    height: 665px;
    position: absolute;
    left: 50%;
    margin-left:-150px;
    margin-top: -117px;
    background: url("../assets/images/iphone5.png") no-repeat;
    z-index: 1;
}
.third-step .iphone5{
    left: 113px;
    margin-left: 0;
}
.iphone5 .screen-inner{
    border: 1px solid red;
    width: 256px;
    height: 456px;
    margin: 95px 0 0 25px;
}
.iphone5-inner{
    margin-left: 82px;
    margin-top: 320px;
}
.iphone5-inner h3{
    font-size: 18px;
    color: #b1e441;
}
.iphone5-inner .login{
    margin-top: 15px;
}
.invitation-btn{
    padding-right: 10px;
    text-align: right;
}
.invitation-btn a{
    float: right;
    margin-right: 10px;
}

.weixin-panel {
    float: right;
    margin-right: 40px;
    height: 457px;
}
.weixin-panel h2{
    font-size: 18px;
    color: #666666;
}
.weixin-panel h2 span{
    font-size: 14px;
    color: #aca195;
}

.weixin-panel .wx-wrap {
    height: 225px;
}
.weixin-panel .wx-wrap img{
    float: left;
}
.wx-wrap .download-btn {
    position: relative;
    left: 225px;
    top: 175px;
    width: 34px;
    height: 34px;
    background: url("../assets/images/download-btn.jpg") no-repeat;
}
.wx-wrap .download-btn a{
    display: block;
    text-indent: -9999px;
}
.weixin-panel .code{
    color: #ef241f;
    font-size: 18px;
    margin-left: 35px;
}
.weixin-panel .info{
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    color: #b1e441;
    border-bottom: 1px solid #aca195;
}

.pre-load{
    position: absolute;
    left: 50%;
    top:50%;
    margin: -32px 0 0 -32px;
    width: 64px;
    height: 64px;
    background: url(http://cyjs.qiniudn.com/assets/ajax-loader-64-97067b43f6ccea90bc18939af5d65893.gif);
}

#feedbackPanel .feedback-inner{
    margin: 20px 0 0 15px;
}
#feedbackPanel .feedback-inner .ui-btn{
    margin: 14px 15px 0 0;
    float: right;
}

