body{
    /*background: #f4f4f4 url("../assets/images/bg.jpg")scroll repeat ;*/
    /*background: #ccc;*/
    /*height: auto;*/
}
#wrapper{
    min-height: 100%;
    height: auto!important;
    height: 100%;
    background: #f4f4f4 url("../assets/images/bg.png") scroll repeat ;
    /*background: #ccc;*/
}
.ui-top-nav{
    position: relative;
    width: 100%;
    height: 40px;
    line-height: 40px;
    /*background: #fff url("../assets/images/sprite.png") 0 -1px repeat-x;*/
    color: #FFF;
    z-index: 5;
}
.ui-top-nav.bottom-shadow{
    background: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.ui-top-nav .ui-top-nav-body{
    position: relative;
    margin: 0 auto;
}
.ui-top-nav .user-panel{
    float: right;
    width: 145px;
}
.ui-top-nav .login{
    float: right;
    margin: 4px 0;
}

.ui-top-nav .user-panel{
    position: relative;
    height: 40px;
    z-index: 5; /*for ie7 overlay */
}
.ui-top-nav .user-panel span{
    float: right;

}
.ui-top-nav .user-panel .arrow{
    background: #6addd3;
    border-color:#6addd3 white white white;
    margin: 16px 10px 0 0
}
.ui-top-nav .user-panel .avatar{
    width: 30px;
    height: 30px;
    margin: 5px 8px 0 0;
    overflow:hidden;

}

.ui-top-nav .user-panel .notice{
    width: 30px;
    height: 20px;
    margin: 11px 3px 0 0;
    background: url("../assets/images/buttons.png") -179px -22px no-repeat;
}
.ui-top-nav .user-panel .notice-active{
    cursor: pointer;
    line-height: 18px;
    text-indent: 9px;
    font-weight: bold;
    background: url("../assets/images/buttons.png") -182px -48px no-repeat;
}

.ui-top-nav .user-panel .user-active{
    width: 70px;
    height: 40px;
    position: relative;
    float: right;
}

.ui-top-nav .user-panel .user-active:hover{
    cursor: pointer;
    background: #6addd3;
}
.ui-top-nav .user-panel .user-active:hover .arrow{
    background: #fff;
    border-color:#fff #6addd3 #6addd3 #6addd3;
}
.ui-top-nav .user-panel .option{
    position: absolute;
    right: 0;
    top: 40px;
    display: none;
    /*display: block;*/
    z-index: 10;
}
.ui-top-nav .user-panel .option ul{
    z-index: 3;
}
.ui-top-nav .user-panel .option-item{
    height: 30px;
    width: 100px;
    line-height: 30px;
    text-align: center;
    background: #fff;
    color: #aca195;
}
.ui-top-nav .user-panel .option-item a{
    display: block;
    *zoom:1;     /*列表间距bug*/
}
.ui-top-nav .user-panel .user-active:hover .option{
    display: block;
}

.ui-top-nav .top-logo {
    float: left;
    _display: inline;
}

.ui-top-nav .top-menu {
    line-height: 40px;
    float: right;
    _display:inline;
    margin-right:10px;
}

.ui-top-nav .top-menu .top-menu-item{
    float: right;
}
.ui-top-nav .top-menu .top-menu-item a{
    display: block;
    /*float: right;*/
    height: 40px;
    color: #6addd3;
    font-size: 12px;
    padding: 0 14px;
}
.ui-top-nav a, .ui-top-nav a:hover, .ui-top-nav a:active, .ui-top-nav a:visited {
    text-decoration: none;
}

.ui-top-nav .top-login {
    float: right;
    margin-right: 35px;
}
.ui-top-nav .top-login a {
    padding: 0 5px;
}
.ui-top-nav .top-menu .active a,.ui-top-nav .user-panel .option-item:hover a{
    background:#6addd3;
    color: #fff;

}
.ui-top-nav .top-menu .active{
    border: 1px solid #47d3c6;
    border-top: none;
    border-bottom: none;
}
.container{
    width: 980px;
    *width:992px; /*for shadow*/
    margin:0 auto;
    position: relative;
    z-index: 0;
}


.ui-body-content {
    margin: 30px auto 0;
    background: #ffffff;
    padding-bottom: 20px;

}

.ui-body-content .ui-header {
    margin: 0 20px;
}
.ui-body-content .ui-header h1{
    font: 18px/70px "microsoft yahei";

}
.ui-header .ui-header-more {
    float: right;
    margin-top:-52px;
    font-size: 14px;
}
.ui-body-content section{

}
.ui-footer {
    margin-top: 30px;
    width: 100%;
    background-color: #6addd3;
    height: 40px;
}
.foot-body .foot-txt,.foot-body .line,.foot-body .copyright{
    display: inline-block;
    *display: inline;
    *zoom:1;
    float:left;
    color:#fff;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
}
.foot-body {
    margin: 0 auto;
}

.foot-body .line {
    width: 1px;
    background: #fff;
    margin-left: 20px;
    margin-right: 20px;
    text-indent: -9999px;
    margin-top: 14px;
    height: 12px;
    line-height: 12px;
}

.foot-body .copyright{
    float:right;
}
