/*/通用组件*/
/*分页*/
.ui-paging{
    text-align: center;
    color: #6addd3;
    zoom: 1;
}
.ui-paging a, .ui-paging span.ui-paging-prev, .ui-paging span.ui-paging-next {
    text-decoration: none;
    color: #6addd3;
    margin: 0 9px;
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    background: #fff;
    font-size: 14px;
}
.ui-paging a.ui-paging-current, .ui-paging a:hover {
    color: #fff;
    background: #6addd3;
}
/*dialog*/
.ui-dialog {
    border: none;
    /*FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorstr=#88000000, endColorstr=#88000000);*/
    padding: 6px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

:root .ui-dialog {
    FILTER: none\9;
}

.ui-dialog-close {
    color: #fff;
    cursor: pointer;
    display: block;
    font-family: tahoma;
    font-size: 24px;
    font-weight: bold;
    height: 18px;
    line-height: 14px;
    position: absolute;
    right: -24px;
    text-decoration: none;
    top: 10px;
    z-index: 10;
    background: #000;
    opacity: 0.7;
    padding: 5px;
}
.ui-dialog-close:hover {
    color: #666;
    text-shadow: 0 0 2px #aaa;
}

.ui-dialog-title {
    height: 37px;
    font-size: 24px;
    font-family: '微软雅黑', '黑体', Arial;
    line-height: 37px;
    border-bottom: 1px solid #E1E1E1;
    color: #4d4d4d;
}
.ui-dialog-input,.ui-dialog-textarea{
    padding:7px 9px;
    width: 430px;
    margin-bottom: 14px;
}
.ui-dialog-input{
    vertical-align: middle;
    font-size: 16px;
    line-height: 24px;
    height: 24px;
    border: 1px solid #a6a6a6;
}
.ui-dialog-textarea{
    overflow: auto;
    height: 160px;
    line-height: 15px;
}
.ui-dialog-container {
    padding: 20px 15px 20px;
    font-size: 12px;
    display: none;
}

.ui-dialog-message {
    margin-bottom:15px;
}

.ui-dialog-operation {
    zoom:1;
}

.ui-dialog-confirm, .ui-dialog-cancel {
    display: inline;
}

.ui-dialog-operation .ui-dialog-confirm {
    margin-right: 4px;
}
/*表单*/
.ui-form legend{display:none}
.ui-form-other{_display:inline-block;margin-left:4px}
.ui-lable{ float: left; margin-left: -180px; width: 170px; text-align: right; padding-top: 4px; font-size: 14px; }
.ui-input{width:170px;padding:7px 9px 7px 9px;height:12px;line-height:12px;border:1px solid #ccc;border-top-color:#a6a6a6}
.ui-input:hover,.ui-textarea:hover{border:1px #a6a6a6 solid;border-top-color:#808080}
.ui-input:focus,.ui-textarea:focus{border:1px #68acff solid;outline:1px aqua solid}
.ui-textarea{width:422px;height:79px;line-height:15px;border:1px #9c9c9c solid;padding:1px 3px 0 4px;_padding:1px 2px 0 5px;overflow:auto;font-family:Arial}
.ui-radio{width:25px;height: 25px; }
.ui-radio-txt{position: relative;display: inline-block;height: 25px;line-height: 25px;top: 3px;}
.ui-form-item:after{clear:both;content:'.';display:block;height:0;visibility:hidden}
.ui-form-item{padding:0 5px 15px 170px;*padding:0 5px 12px 170px;_padding:0 5px 13px 170px;zoom:1;}
.ui-form-item .ui-input{font-size:12px;*font-size:11px;_font-size:12px;color:#595959;vertical-align:middle;*vertical-align:-5px}
.ui-form-item .ui-select{font-size:12px;*font-size:11px;_font-size:12px;color:#595959;vertical-align:middle;*vertical-align:-5px;width: 190px;height: 28px;margin-top: 0px;}

/*各种小组件*/
/*button*/
.ui-btn{
    background: #222 url("http://bcs.duapp.com/webcdn/image%2Fbtn-overlay.png?sign=MBO:37605d0593028e53e3128f4dd3e3e64b:QnBHWqWp8Sls%2BuQvxTHOTwN1lto%3D") repeat-x 0 0;
    color: #fff!important;
    text-decoration: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    position: relative;
    overflow: visible;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    font-weight:700;
    font-size:14px;
    border-radius: 2px;
    padding: 0 20px;
    height: 23px;
    line-height: 23px;
}
.ui-btn:hover{background-color: #111;color: #fff;text-decoration: none;}
.ui-btn:active { -webkit-transform: translateY(1px); -moz-transform: translateY(1px); }
.small.ui-btn{ padding: 0 12px; line-height: 23px; height: 23px; font-size: 12px;}
.middle.ui-btn{ line-height: 29px; height: 29px;}
.large.ui-btn{ font-size:16px;line-height: 33px; height: 33px;}
.green.ui-btn { background-color: #91bd09; }
.green.ui-btn:hover { background-color: #749a02; }
.blue.ui-btn { background-color: #2daebf; }
.blue.ui-btn:hover { background-color: #007d9a; }
.red.ui-btn { background-color: #e33100; }
.red.ui-btn:hover { background-color: #872300; }
.magenta.ui-btn{ background-color: #a9014b; }
.magenta.ui-btn:hover { background-color: #630030; }
.orange.ui-btn { background-color: #ff5c00; }
.orange.ui-btn:hover { background-color: #d45500; }
.orangellow.ui-btn { background-color: #ffb515; }
.orangellow.ui-btn:hover { background-color: #fc9200; }
.white.ui-btn { background-color: #fff; border: 1px solid #ccc; color: #666 !important; font-weight: normal; text-shadow: 0 1px 1px rgba(255,255,255,1); }
.white.ui-btn:hover { background-color: #eee; }
/*Strike button*/
.strike.ui-btn	{background-color: #4ADFC1}
.strike.ui-btn:hover {background-color: #39ceb0}
.gray.ui-btn{background-color: #C7C7C7;}
.gray.ui-btn:hover{background-color: #999999;}

.ui-share-btn-list{
    float: left;
    height: 30px;
}
.ui-share-btn-list a{
    margin-left: 6px;
    float: left;
    width: 30px;
    height: 30px;
    background: url("../assets/images/share-sprite.png") no-repeat;
    text-indent: -9999px;
}
.ui-share-btn-list .sina{
    background-position: 0 -52px;
}
.ui-share-btn-list .qzone{
    background-position: -36px -52px;
}
.ui-share-btn-list .tt{
    background-position: -72px -52px;
}
/*条*/
.ui-slip {
    float: left;
    height: 30px;
    background: url("../assets/images/slip-sprite.png") 0 -3px no-repeat;
    margin-left: 20px;
    padding-left: 25px;
}
.ui-slip .ui-slip-inner{
    position: relative;
    padding-right: 23px;
    background: url("../assets/images/slip-sprite.png") right -34px no-repeat;
}
.ui-slip .ui-slip-inner .small-arrow {
    display: block;
    position: absolute;
    top: 8px;
    width: 22px;
    height: 16px;
    background: url("../assets/images/small-arrow.png") no-repeat;
}
.ui-slip .ui-slip-inner h3,.ui-slip .ui-slip-inner a{
    display: block;
    height: 30px;
    line-height: 30px;
    /*font: 24px "黑体";*/
    font-size: 18px;
    color: #fff;
    background: url("../assets/images/slip-line.png") repeat-x;
}
.ui-slip .ui-slip-inner .back{
    display: block;
    padding-left: 20px;
}
.arrow{
    width: 0px;
    height: 0px;
    font-size: 0;
    line-height: 0px;
    border-width:7px;
    border-style: solid;
}
.avatar img{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
}
.big-avatar img{
    width: 60px;
    height: 60px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
}
.marry-list .counter .comments, .marry-list .counter .fav, .marry-list .counter .share {
    display: inline-block;
    margin-right: 5px;
    line-height: 16px;
}
.marry-list .counter .comments .ico, .marry-list .counter .fav .ico, .marry-list .counter .share .ico{
    width: 20px;
    height: 16px;
    display: inline-block;
    vertical-align: top;
    background: url("../assets/images/counter.png") no-repeat;
}
.marry-list .counter .comments span, .marry-list .counter .fav span, .marry-list .counter .share span{
    height: 16px;
    vertical-align: middle;
}
.marry-list .counter .comments .ico{
    background-position: -0px -3px;
}
.marry-list .counter .fav .ico{
    background-position: -47px -3px;
}
.marry-list .counter .share .ico{
    background-position: -92px -3px;
}
/*用户页面顶部导航*/
.ui-green-header {
    background: #6addd3;
    opacity: 0.7;
    _filter: alpha(Opacity=70);
}
.ui-page-nav {
    height: 100%;
}
.ui-page-nav li{
    position: relative;
    height: 100%;
    display: inline-block;
    *display: inline;
    *zoom:1;
    font: 18px "microsoft yahei";
    color: #fff;
}
.ui-page-nav li .arrow{
    display: none;
}
.ui-page-nav-active span{
    background: #6addd3;
    padding: 0 4px;
}
.ui-page-nav-line span{
    width: 2px;
    padding: 0;
    margin-left: 18px;
    margin-right:18px;
    background: #fff;
    text-indent: -9999px;
}
.ui-page-nav .ui-page-nav-active .arrow{
    display: block;
    border-width:8px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -8px;
    background: #6addd3;
    border-color: #6addd3 #6addd3 white #6addd3;
}
/*各种插件*/
#indexBanner{
    position: relative;
}
#indexBanner .banner-arr{
    height: 60px;
    width: 60px;
    position: absolute;
    top: 190px;
    visibility: hidden;
    background: url("../assets/images/banner-arrow.png");
    cursor: pointer;
    z-index: 2;
    text-indent: -9999px;
}
#indexBanner #scrollerPrev{
    left: 11px;
}
#indexBanner #scrollerNext{
    right: 11px;
    background-position: 0 -73px;
}
#indexBanner:hover .banner-arr{
    visibility: visible;
}
#indexBanner{
    width: 980px;
    height: 440px;
    overflow: hidden;
}
#indexBanner .ui-switchable-content{
    position: relative;
    width: 980px;
    height: 440px;
    overflow: hidden;
}
#indexBanner .ui-switchable-panel{
    width: 980px;
    height: 440px;
    overflow: hidden;
}
#indexBanner,#scrollerPrev:hover{
    visibility: visible;
}
#indexBanner .ui-switchable-content img{
    width: 980px;
    height: 440px;
}
#indexBanner .ui-switchable-content .download-panel{
    position: absolute;
    top:288px;
    left: 71px;
    width: 340px;
    height: 85px;
}
#indexBanner .ui-switchable-content .download-panel h3{
    color: #fff;
    font: bold 14px "microsoft yahei";
}
#indexBanner .ui-switchable-content .download-btn a{
    float: left;
    margin-top: 10px;
    width: 157px;
    height: 55px;
    text-indent: -9999px;
    background: url("../assets/images/sprite.png") 0 -78px no-repeat;
}
#indexBanner .ui-switchable-content .download-btn .android{
    margin-left: 25px;
    background-position:  -185px -78px;

}
#indexBanner .ui-switchable-nav{
    position: absolute;
    left: 450px;
    top:406px;
}
#indexBanner .ui-switchable-nav li{
    float: left;
    width: 22px;
    height: 22px;
    background: url("../assets/images/banner-dot.png") -5px 0 no-repeat;
    text-indent: -9999px;
}
#indexBanner .ui-switchable-nav .ui-switchable-active{
    background-position: -5px -26px;
}

/*编辑器功能*/
.spacer,.spacer-hor {
    position: absolute;
    left: -999px;
    top: 0;
    visibility: hidden;
    background: #ee002d;
    overflow: hidden;
    z-index: 99;
}

.note .btn-drag {
    position: absolute;
    background: url(http://cyjs.qiniudn.com/assets/show-sprite-58f66b3e75687ab2a8c1027965c93c74.png) no-repeat 0 -1365px;
    width: 64px;
    height: 64px;
    left: 50%;
    top: 50%;
    margin: -30px 0 0 -30px;
    display: none;
    cursor: move;
    z-index: 9;
}
.note:hover .btn-drag{
    display:block;
}
.placeHolder{
    float: left;
    width:118px;
    height:118px;
    margin: 13px 0 0 13px;
    background-color:white !important;
    border:dashed 1px gray !important;
    text-align: center;
    line-height: 118px;
}

/*浏览相册组件*/
.scrollbar-panel{
    float: left;
    margin-left: 20px;
    width: 365px;
}
.scrollbar {
    margin: 1em 0;
    height: 5px;
}

 .scrollbar .handle {
    width: 100px;
    height: 100%;
}

.scrollbar {
    background: #808080;
    border-radius: 4px;
    border: 2px solid #808080;
    border-top-color: #666;
    line-height: 0;
}

.scrollbar .handle {
    border-radius: 4px;
    background: #fff;
    cursor: pointer;
    line-height: 0;
    -webkit-box-shadow: 0 1px 0 #555;
    -moz-box-shadow: 0 1px 0 #555;
    -o-box-shadow: 0 1px 0 #555;
    box-shadow: 0 1px 0 #555;
}
.slyWrap .controls {
    margin: 20px 0;
}

.controls {
    text-align: center;
}

.sly {
    overflow: hidden;
}
.sly ul li {
    float: left;
    height: 100%;
    width: 200px;
    margin: 0 1px 0 0;
}
.sly .node-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.sly .node-list .cover{
    width: 400px;
    background: #fff;
    font-size: 14px;
    color: #c7c7c7;
    line-height: 100%;
}
.sly .node-list .cover-dot-top,.sly .node-list .cover-dot-bottom{
    position: absolute;
    width: 55px;
    height: 25px;
    background: url("../assets/images/cover-dot.png") no-repeat;
    text-indent: -9999px;
}
.sly .node-list .cover-dot-top{
    background-position: -2px -7px ;
    top: 75px;
    left: 42px;
}
.sly .node-list .cover-dot-bottom{
    background-position: -2px -40px;
    bottom: 75px;
    right: 42px;
}
.node-list .cover-content{
    margin: 100px 97px;
}
.sly > ul li {
    position: relative;
    margin: 0;
    padding: 0;
    background: #4DBCE9;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.sly > ul li.active {
    background: #fff;
    color: #4DBCE9;
    -webkit-box-shadow: inset 0 0 0 1px #4DBCE9,inset 0 0 40px 20px #97e6f7;
    -moz-box-shadow: inset 0 0 0 1px #4DBCE9,inset 0 0 40px 20px #97e6f7;
    -o-box-shadow: inset 0 0 0 1px #4DBCE9,inset 0 0 40px 20px #97e6f7;
    box-shadow: inset 0 0 0 1px #4DBCE9,inset 0 0 40px 20px #97e6f7;
}

.pages {
    list-style: none;
    margin: 20px 0;
    padding: 0;
    text-align: center;
}

.pages li {
    display: inline-block;
    width: 11px;
    height: 11px;
    margin: 0 2px;
    text-indent: -999px;
    background: #fff;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    border: 1px solid #aaa;
}

.pages li:hover {
    background: #eee;
}

.pages li.active {
    background: #999;
    border-color: #888;
    box-shadow: inset 0 0 0 2px #eee;
}

.viewArrow{
    position: absolute;
    width: 185px;
    height: 104px;
    z-index: 3;
    text-indent: -9999px;

}
.viewArrow-right{
    right: 0;
}
.viewArrow .prev,.viewArrow .next{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 46px;
    height: 84px;
    margin-top: -42px;
    margin-left: -23px;
    background: url("../assets/images/big-arrow.png") no-repeat;
    cursor: pointer;
}
.viewArrow .prev{
    background-position: 0 -20px;
}
.viewArrow .next{
    background-position:-53px -103px;
}
