/*/通用组件*/
/*分页*/
.ui-paging{
    text-align: center;
    color: #6addd3;
    zoom: 1;
}
.ui-paging a, .ui-paging span.ui-paging-prev, .ui-paging span.ui-paging-next {
    text-decoration: none;
    color: #6addd3;
    margin: 0 9px;
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    background: #fff;
    font-size: 14px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.ui-paging a.ui-paging-current, .ui-paging a:hover {
    color: #fff;
    background: #6addd3;
}
/*dialog*/
.ui-dialog {
    border: none;
    /*FILTER: progid:DXImageTransform.Microsoft.Gradient(startColorstr=#88000000, endColorstr=#88000000);*/
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

:root .ui-dialog {
    FILTER: none\9;
}
.ui-dialog-content{
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    overflow: hidden;
}
.ui-dialog-close {
    color: #fff;
    cursor: pointer;
    display: block;
    font-family: tahoma;
    font-size: 24px;
    font-weight: bold;
    height: 18px;
    line-height: 14px;
    position: absolute;
    right: -30px;
    text-decoration: none;
    top: 20px;
    z-index: 10;
    background: #000;
    opacity: 0.7;
    padding: 5px;
    border-radius: 4px;
}
.ui-dialog-close:hover {
    color: #666;
    text-shadow: 0 0 2px #aaa;
}

.ui-dialog-title {
    height: 37px;
    font-size: 24px;
    font-family: '微软雅黑', '黑体', Arial;
    line-height: 37px;
    /*border-bottom: 1px solid #E1E1E1;*/
    color: #4d4d4d;
}
.ui-dialog-input,.ui-dialog-textarea{
    padding:7px 9px;
    width: 430px;
    margin-bottom: 12px;
}
.ui-dialog-input{
    vertical-align: middle;
    font-size: 16px;
    line-height: 24px;
    height: 24px;
    border: 1px solid #a6a6a6;
}
.ui-dialog-textarea{
    overflow: auto;
    height: 160px;
    line-height: 15px;
}
.ui-dialog-container {
    font-size: 12px;
    display: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.ui-dialog-message {
    margin-bottom:15px;
}

.ui-dialog-operation {
    zoom:1;
}

.ui-dialog-confirm, .ui-dialog-cancel {
    display: inline;
}

.ui-dialog-operation .ui-dialog-confirm {
    margin-right: 4px;
}
/*表单*/
.ui-form{margin-top:30px}
.ui-form legend{display:none}
.ui-form-required{margin-right:6px; font-family:SimSun; font-size:14px; color:#f00}
.ui-form-explain{padding:3px 0 0; padding:5px 0 0\9; _padding-top:3px; *margin-top:-1px; _margin-left:3px; font-size:12px; color:#B2B2B2}
.ui-form-other{_display:inline-block; margin-left:4px}
.ui-form-text{display:inline-block; margin-top:4px; *margin-top:6px; _margin-top:4px; zoom:1}
.ui-form-status{color:#20B907; background:url(https://img.alipay.com/alice/ui-fm-loading.gif) right bottom no-repeat; padding-right:15px}
.ui-form-list{_float:left; _width:100%}
/*表单项*/
.ui-lable{ float: left; margin-left: -180px; width: 170px; text-align: right; padding-top: 4px; font-size: 14px; }
.ui-input{width:170px;padding:7px 9px 7px 9px;height:12px;line-height:12px;border:1px solid #ccc;border-top-color:#a6a6a6}
.ui-input:hover,.ui-textarea:hover{border:1px #a6a6a6 solid;border-top-color:#808080}
.ui-input:focus,.ui-textarea:focus{border:1px #68acff solid;outline:1px aqua solid}
.ui-textarea{width: 272px;height: 90px;line-height:15px;border:1px #9c9c9c solid;padding: 8px 3px 0 4px;_padding:1px 2px 0 5px;overflow:auto;;font-family:Arial;color: #c7c7c7;}
.ui-radio{width:25px;height: 25px; }
.ui-radio-txt{position: relative;display: inline-block;height: 25px;line-height: 25px;top: 3px;}
.ui-form-item:after{clear:both;content:'.';display:block;height:0;visibility:hidden}
.ui-form-item{padding:0 5px 15px 170px;*padding:0 5px 12px 170px;_padding:0 5px 13px 170px;zoom:1;}
.ui-form-item .ui-input{font-size:12px;*font-size:11px;_font-size:12px;color:#595959;vertical-align:middle;*vertical-align:-5px}
.ui-form-item .ui-select{font-size:12px;*font-size:11px;_font-size:12px;color:#595959;vertical-align:middle;*vertical-align:-5px;width: 190px;height: 28px;margin-top: 0px;}
/*表单验证*/
.ui-form-item-hover .ui-input, .ui-form-item-hover .ui-textarea{border:1px #727272 solid}
.ui-form-item-focus .ui-input, .ui-form-item-focus .ui-textarea{border:1px #68ACFF solid; outline:1px aqua solid;  *padding:3px 0 3px 2px; *border:2px #95DDFF solid; cursor:text}
.ui-form-item-focus .ui-textarea{*padding:1px 0 1px 2px}
.ui-form-item-focus .ui-form-explain, .ui-form-item-hover .ui-form-explain{color:#333;}
.ui-form-item-error .ui-input, .ui-form-item-error .ui-textarea{border:1px #F00 solid; color:#FF5243}
.ui-form-item-error .ui-input-reset{border:1px #9C9C9C solid; color:#000}
.ui-form-item-error .ui-form-explain, .ui-form-item-warn .ui-form-explain,
.ui-form-item-success .ui-form-explain{background-image:url(https://img.alipay.com/alice/ui-fm.png); background-repeat:no-repeat; padding-left:20px; *zoom:1}
.ui-form-item-error .ui-form-explain{color:#FF5243; background-position:-186px 6px}
.ui-form-item-warn .ui-form-explain{background-position:-138px -80px}
.ui-form-item-error .ui-input:hover,
.ui-form-item-error .ui-textarea:hover{border:1px #a6a6a6 solid;}
.ui-form-item-error .ui-input:focus,
.ui-form-item-error .ui-textarea:focus{border:1px #68ACFF solid; color:#727272}
.ui-form-item-success .ui-form-explain{ background-position:-114px -123px}
.ui-form-item-loading .ui-form-explain{ padding-left:20px;    background:url(https://img.alipay.com/alice/ico-loading16.gif) 0 4px no-repeat}
/*各种小组件*/
/*button*/
.ui-btn *{margin: 0;padding: 0;}
.ui-btn{ background: #b0e43f ;
    display: inline-block;
    color: #fff!important;
    text-decoration: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding:0;
    position: relative;
    text-align:center;
    vertical-align: middle;
    cursor: pointer;
    overflow: visible;
    font-size:14px;
    line-height: 23px;
    background: url("../assets/images/buttons.png");
}
div.ui-btn,p.ui-btn,span.ui-btn{*display:inline}
.ui-btn-text{
    display: inline-block;
    *display:inline;
    *zoom:1;
    cursor: pointer;
    border: 0;
    text-decoration: none;
    overflow: visible;
    font-size: 14px;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: transparent;
}
input.ui-btn-text,button.ui-btn-text{vertical-align: top; }
.large.ui-btn{
    height: 42px;
    line-height: 42px;
    width: 120px;
}
.large .ui-btn-text{
    font-size: 18px;
}
.middle.ui-btn,.middle .ui-btn-text{
    height: 32px;
    line-height: 32px;
    width: 90px;
}
.ui-btn-green .ui-btn-text{
    text-shadow:0 1px 1px #8bcb02;
}
.middle.ui-btn-green{
    background-position: -8px -187px;
}
.middle.ui-btn-green:active{
    background-position: -8px -227px;
}
.large.ui-btn-green{
    background-position: -136px -187px;
}
.large.ui-btn-green:active{
    background-position: -136px -242px;
}
.gray .ui-btn-text{
    text-shadow:0 1px 1px #c6c7c5;
}
.large.gray{
    background-position: -278px -187px;
}
.middle.ui-btn input.ui-btn-text{
    height: 30px;
    line-height: 30px;
}

/*登录按钮*/
.ui-login-btn{
    width: 143px;
    height: 32px;
    line-height: 32px;
}
.ui-login-btn .qq{
    background: url("../assets/images/buttons.png") -78px -22px no-repeat;
}
.ui-login-btn .qq:active{
    background-position: -78px -66px;
}
.ui-login-btn .sina{
    background: url("../assets/images/buttons.png") -8px -22px no-repeat;
}
.ui-login-btn .sina:active{
    background-position: -8px -66px;
}
.ui-login-btn.green .qq{
    background: url("../assets/images/login-btn.png") -84px -10px no-repeat;
}
.ui-login-btn.green .qq:active{
    background-position: -84px -53px;
}
.ui-login-btn.green .sina{
    background: url("../assets/images/login-btn.png") -14px -10px no-repeat;
}
.ui-login-btn.green .sina:active{
    background-position: -14px -53px;
}
.ui-login-btn .ui-login-btn-text{
    color: #fff;
    width: 71px;
    float: right;
}
.ui-login-btn .ui-login-btn-text span{
    margin-left:35px ;
}
.ui-share-btn-list{
    float: left;
    height: 30px;
}
.ui-share-btn-list a{
    margin-left: 6px;
    float: left;
    width: 30px;
    height: 30px;
    background: url("../assets/images/share-sprite.png") no-repeat;
    text-indent: -9999px;
}
.ui-share-btn-list .sina{
    background-position: 0 -52px;
}
.ui-share-btn-list .qzone{
    background-position: -36px -52px;
}
.ui-share-btn-list .tt{
    background-position: -72px -52px;
}
.ui-share-btn-list-v {
    position:absolute;
    bottom: 95px;
    right: -35px;
}
.ui-share-btn-list-v a{
    display: block;
    float: none;
    width: 30px;
    height: 30px;
    margin-top: 8px;
}


/*条*/
.ui-slip {
    float: left;
    height: 30px;
    margin-left: 20px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.5);
    padding: 0 15px;
    position: relative;
}

.ui-slip  .small-arrow {
    display: block;
    position: absolute;
    top: 8px;
    width: 22px;
    height: 16px;
    background: url("../assets/images/small-arrow.png") no-repeat;
}
.ui-slip  h3,.ui-slip  a{
    display: block;
    height: 30px;
    line-height: 30px;
    /*font: 24px "黑体";*/
    font-size: 18px;
    font-weight: normal;
    color: #fff;
}
.ui-slip .back{
    padding-left: 20px;
}
.arrow{
    width: 0px;
    height: 0px;
    font-size: 0;
    line-height: 0px;
    border-width:7px;
    border-style: solid;
}
.avatar img{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
}
.big-avatar img{
    width: 60px;
    height: 60px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
}
.savatar{
    margin:0 0 0 -14px;
}
.savatar img{
    float: left;
}
.savatar span{
    display: inline-block;
    margin-left: 20px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #fff;
}
.marry-list .counter .comments, .marry-list .counter .fav, .marry-list .counter .share {
    display: inline-block;
    margin-right: 5px;
    line-height: 16px;
}
.marry-list .counter .comments .ico, .marry-list .counter .fav .ico, .marry-list .counter .share .ico{
    width: 20px;
    height: 16px;
    display: inline-block;
    vertical-align: top;
    background: url("../assets/images/sprite.png") no-repeat;
}
.marry-list .counter .comments span, .marry-list .counter .fav span, .marry-list .counter .share span{
    height: 16px;
    vertical-align: top;
}
.marry-list .counter .comments .ico{
    background-position: -2px -474px;
}
.marry-list .counter .fav .ico{
    background-position: -47px -474px;
}
.marry-list .counter .share .ico{
    background-position: -90px -474px;
}
.ui-counter span{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    height: 20px;
    line-height: 20px;
    color: #fff;
    background: url("../assets/images/show-sprite.png") no-repeat;
    cursor: pointer;
}
.ui-counter .comments{
    background-position: -44px -29px;
    padding-left: 26px;

}
.ui-counter .fav{
    margin-left: 15px;
    padding-left: 26px;
    background-position: 0 -29px;
}
/*用户页面顶部导航*/
.ui-green-header {
    /*background:#95e5de;*/
    background:rgba(105,221,211,0.3);
}
.ui-page-nav {
    height: 100%;
}
.ui-page-nav li{
    position: relative;
    height: 100%;
    display: inline-block;
    *display: inline;
    *zoom:1;
    font:18px "microsoft yahei";
    color: #fff;
}
.ui-page-nav li .arrow{
    display: none;
}
.ui-page-nav-active span{
    background-color: #6addd3;
    padding: 0 4px;
}
.ui-page-nav-line span{
    width: 2px;
    padding: 0;
    margin-left: 18px;
    margin-right:18px;
    background: #fff;
    text-indent: -9999px;
}
.ui-page-nav .ui-page-nav-active .arrow{
    display: block;
    border-width:8px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -8px;
    border-color: transparent transparent white transparent;
}
/*各种插件*/
#indexBanner{
    position: relative;
    *margin-left: 6px;
}
#indexBanner .banner-arr{
    height: 60px;
    width: 60px;
    position: absolute;
    top: 190px;
    visibility: hidden;
    background: url("../assets/images/sprite.png");
    cursor: pointer;
    z-index: 2;
    text-indent: -9999px;
}
#indexBanner #scrollerPrev{
    background-position: 0 -146px;
    left: 11px;
}
#indexBanner #scrollerNext{
    right: 11px;
    background-position: 0 -219px;
}
#indexBanner:hover .banner-arr{
    visibility: visible;
}
#indexBanner{
    width: 980px;
    height: 440px;
    /*border: 1px solid #ccc;*/
    overflow: hidden;
}
#indexBanner .ui-switchable-content{
    position: relative;
    width: 980px;
    height: 440px;
    overflow: hidden;
}
#indexBanner .ui-switchable-panel{
    width: 980px;
    height: 440px;
    overflow: hidden;
}
#indexBanner,#scrollerPrev:hover{
    visibility: visible;
}
#indexBanner .ui-switchable-content img{
    width: 980px;
    height: 440px;
}
#indexBanner .ui-switchable-content .download-panel{
    position: absolute;
    top:288px;
    left: 71px;
    width: 340px;
    height: 85px;
}
.download-panel h3{
    color: #fff;
    font: bold 14px;
}
.ui-download-btn a{
    float: left;
    margin-top: 10px;
    width: 157px;
    height: 55px;
    text-indent: -9999px;
    background: url("../assets/images/buttons.png") -8px -106px no-repeat;
}
.ui-download-btn .android{
    margin-left: 25px;
    background-position:  -182px -106px;

}
#indexBanner .ui-switchable-nav{
    position: absolute;
    left: 450px;
    top:406px;
}
#indexBanner .ui-switchable-nav li{
    float: left;
    width: 22px;
    height: 22px;
    background: url("../assets/images/banner-dot.png") -5px 0 no-repeat;
    text-indent: -9999px;
}
#indexBanner .ui-switchable-nav .ui-switchable-active{
    background-position: -5px -26px;
}

/*编辑器功能*/
.spacer,.spacer-hor {
    position: absolute;
    left: -999px;
    top: 0;
    visibility: hidden;
    background: #ee002d;
    overflow: hidden;
    z-index: 99;
}

.note .btn-drag {
    position: absolute;
    background: url(http://cyjs.qiniudn.com/assets/show-sprite-58f66b3e75687ab2a8c1027965c93c74.png) no-repeat 0 -1365px;
    width: 64px;
    height: 64px;
    left: 50%;
    top: 50%;
    margin: -30px 0 0 -30px;
    display: none;
    cursor: move;
    z-index: 9;
}
.note:hover .btn-drag{
    display:block;
}
.note .btn-play {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 59px;
    height: 34px;
    background: url("../assets/images/buttons.png") -241px -22px no-repeat;
    margin: -17px 0 0 -30px;
    display: none;
    cursor: pointer;
    z-index: 9;
}
.note:hover .btn-drag,.note:hover .btn-play{
    display:block;
}
.placeHolder{
    float: left;
    width:118px;
    height:118px;
    margin: 13px 0 0 13px;
    background-color:white !important;
    border:dashed 1px gray !important;
    text-align: center;
    line-height: 118px;
}

/*浏览相册横向滚动组件*/
.scrollbar-panel{
    float: left;
    margin-left: 20px;
    width: 365px;
}
.scrollbar {
    margin: 1em 0;
    height: 5px;
}

.scrollbar .handle {
    width: 100px;
    height: 100%;
}

.scrollbar {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-top-color: rgba(255, 255, 255, 0.5);
    line-height: 0;

}

.scrollbar .handle {
    border-radius: 4px;
    background: #fff;
    cursor: pointer;
    line-height: 0;
}
.slyWrap .controls {
    margin: 20px 0;
}

.controls {
    text-align: center;
}
#horizontal{
    position: relative;
    z-index: 100;
}
.sly {
    overflow: hidden;
}
.sly ul li {
    float: left;
    /*width: 750px;*/
    /*min-width: 360px;*/
    padding: 10px 5px;
    background: #fff;
}
.sly ul li .img-wrap{
    position: relative;

}
.sly ul li .img-wrap:hover .hover-panel{
    visibility: visible;
}
.img-wrap .hover-panel{
    position: absolute;
    top: 0;
    left: 25px;
    height: 60px;
    background: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    visibility: hidden;
}
.img-wrap .hover-panel .description{
    width: 100px;
    float: right;
    margin-top: 12px;
    height: 36px;
    border-right: 1px solid #aca195;
    padding: 0 15px;

}
.img-wrap .hover-panel .share-btn{
    margin-top: 12px;
    float: right;
    height: 36px;
    width: 36px;
    background: url("../assets/images/sprite.png") -82px -465px no-repeat;
}
.img-wrap .hover-panel .btns{
    position: absolute;
    top:10px;
    right: -106px;
    height: 40px;
    border-bottom-right-radius: 4px;
    border-top-right-radius:4px;
    background: #a9dc3c;
}
.img-wrap .hover-panel .btns a{
    background: url("../assets/images/share-sprite.png") no-repeat;
    display: inline-block;
    height: 40px;
}
.img-wrap .hover-panel .btns a:hover span{
    display: block;
    height: 40px;
    background: rgba(0,0,0,0.1);
}
.img-wrap .hover-panel .btns a.sina{
    width: 30px;

    background-position: 1px -3px;
}
.img-wrap .hover-panel .btns a.qq{
    width: 30px;

    background-position: -35px -5px;
}
.img-wrap .hover-panel .btns a.tt{
    width: 40px;

    background-position: -70px -4px;
}
.sly .node-list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 9999px;
}
.sly .node-list img{
    height: 100%;
    /*display: block;*/
}
.sly .node-list .cover{
    position: relative;
    width: 400px;
    background: #fff;
    font-size: 14px;
    color: #c7c7c7;
    line-height: 100%;
    height: 100%;
}
.sly .node-list .cover.prev{
    margin-left: 185px;
}
.sly .node-list .cover.next{
    margin-right: 185px;
}
.sly .node-list .cover-dot-top,.sly .node-list .cover-dot-bottom{
    position: absolute;
    width: 55px;
    height: 25px;
    background: url("../assets/images/cover-dot.png") no-repeat;
    text-indent: -9999px;
}
.sly .node-list .cover-dot-top{
    background-position: -2px -7px ;
    top: 75px;
    left: 42px;
}
.sly .node-list .cover-dot-bottom{
    background-position: -2px -40px;
    bottom: 75px;
    right: 42px;
}
.node-list .cover-content{
    margin: 100px 97px;
}
.pages {
    list-style: none;
    margin: 20px 0;
    padding: 0;
    text-align: center;
}

.pages li {
    display: inline-block;
    width: 11px;
    height: 11px;
    margin: 0 2px;
    text-indent: -999px;
    background: #fff;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    border: 1px solid #aaa;
}

.pages li:hover {
    background: #eee;
}

.pages li.active {
    background: #999;
    border-color: #888;
    box-shadow: inset 0 0 0 2px #eee;
}

.viewArrow{
    position:absolute;
    top: 0;
    width: 185px;
    height: 104px;
    z-index: 3;
    text-indent: -9999px;
}
.viewArrow-right{
    right: 0;
}
.viewArrow .prev,.viewArrow .next{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 46px;
    height: 84px;
    margin-top: -42px;
    margin-left: -23px;
    background: url("../assets/images/big-arrow.png") no-repeat;
    cursor: pointer;
}
.viewArrow .prev{
    background-position: 0 -20px;
}
.viewArrow .next{
    background-position:-53px -103px;
}

.full-viewer-overlay {
    width: 100%;
    height: 100%;
    z-index: 1001;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.9);
    display: none;
}
.full-viewer {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1002;
}
.full-viewer .close{
    background: url(http://cyjs.qiniudn.com/assets/show-sprite-58f66b3e75687ab2a8c1027965c93c74.png) no-repeat 12px -868px;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 7px;
    top: 6px;
    cursor: pointer;
}
.full-viewer .prev, .full-viewer .next {
    background: url(http://cyjs.qiniudn.com/assets/control-fc-419da6dffe0a9722ab526a6b29a76f66.png) no-repeat;
    width: 60px;
    height: 90px;
    position: absolute;
    top: 50%;
    margin-top: -45px;
    cursor: pointer;
}
.full-viewer .prev {
    background-position: 20px -216px;
    left: 0;
}
.full-viewer .next {
    background-position: 14px -306px;
    right: 0;
}
/*效果*/
.ui-shadow{
    _border: 1px solid #ccc;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    /* *//* lte ie7 *//*
     *filter: progid:DXImageTransform.Microsoft.Shadow(color=#999999,direction=0,strength=2)
 progid:DXImageTransform.Microsoft.Shadow(color=#999999,direction=90,strength=2)
 progid:DXImageTransform.Microsoft.Shadow(color=#999999,direction=180,strength=2)
 progid:DXImageTransform.Microsoft.Shadow(color=#999999,direction=270,strength=2);*/
}
.ui-shadow-top{
    *border-top: 1px solid #ccc;
    -webkit-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.15);
}
/*滚动条*/
.ui-scrollbar::-webkit-scrollbar{
    width: 15px;
}
.ui-scrollbar::-webkit-scrollbar-thumb {
    background-color: #ccc;
    background-clip: padding-box;
    border: solid transparent;
    border-width: 1px 1px 1px 6px;
    min-height: 28px;
    width: 10px;
    padding: 100px 0 0;
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
}
.ui-comment-list::-webkit-scrollbar{
    width: 15px;
}
.ui-comment-list::-webkit-scrollbar-thumb {
    background-color: #ccc;
    background-clip: padding-box;
    border: solid transparent;
    border-width: 1px 1px 1px 6px;
    min-height: 28px;
    width: 10px;
    padding: 100px 0 0;
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
}

.ui-scrollbar-vertical {
    position: absolute;
    right: 0;
    top: 0;
    width: 10px;
    height: 100%;
    background: #f0f0f0;
    z-index: 5;
}
.ui-scrollbar-vertical .handle {
    width: 10px;
    height:100px;
    background: #c7c7c7;
    cursor: pointer;
}


.ui-comment-list ul{
    width: 100%;
    margin-right: 10px;
    padding-top: 10px;
}
.ui-comment-list ul li{
    padding: 10px 10px 0 0;
    height: 71px;
    border-bottom: 1px solid #cecece;
}
.ui-comment-list .comments-text {
    position: relative;
    margin: 0 10px 10px 70px;
    height: 60px;

}
.ui-comment-list .comments-text h3{
    font-size: 14px;
    height: 21px;
    line-height: 21px;
    color: #6addd3;
}
.ui-comment-list .comments-text p{
    font-size: 12px;
    color: #666666;
}
.ui-comment-list .comments-text .date{
    position: absolute;
    top: 0;
    right: 10px;
    font:12px arial;
    color: #6addd3; ;
}
/*日历*/
.ui-calendar {
    position: absolute;
    font: 16px/20px 'Xin Gothic', 'PT Sans', 'Hiragino Sans GB', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: #f9f9f9;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #dadada;
    box-shadow: 1px 1px 9px #ccc;
    text-align: center;
}
.ui-calendar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    clear: both;
    width: 210px;
    color: #333;
    zoom: 1;
}
.ui-calendar ul:after {
    display: block;
    content: "";
    visibility: hidden;
    font-size: 0;
    clear: both;
    height: 0;
}
.ui-calendar li {
    float: left;
    text-align: center;
    width: 30px;
    padding: 3px 0;
    cursor: pointer;
}
.ui-calendar .ui-calendar-navigation {
    font-size: 14px;
    border-bottom: 1px solid #dadada;
}
.ui-calendar .ui-calendar-month-year {
    width: 90px;
}
.ui-calendar .month:hover, .ui-calendar .year:hover {
    color: #d64;
}
.ui-calendar .ui-calendar-previous-year:hover,
.ui-calendar .ui-calendar-previous-month:hover,
.ui-calendar .ui-calendar-next-month:hover,
.ui-calendar .ui-calendar-next-year:hover {
    color: #d64;
}
.ui-calendar .ui-calendar-data-container {
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
}
.ui-calendar .ui-calendar-date-column .previous-month,
.ui-calendar .ui-calendar-date-column .next-month {
    color: #ccc;
}
.ui-calendar .ui-calendar-year-column li,
.ui-calendar .ui-calendar-month-column li {
    width: 65px;
    margin: 2px;
    padding: 2px 0;
    border-radius: 4px;
}
.ui-calendar li.ui-calendar-day-0,
.ui-calendar li.ui-calendar-day-6 {
    color: #d64;
}
.ui-calendar .ui-calendar-year-column li:hover,
.ui-calendar .ui-calendar-month-column li:hover,
.ui-calendar .ui-calendar-date-column li:hover {
    color: #333;
    background: #dadada;
}
.ui-calendar .ui-calendar-date-column li.disabled-date {
    background: #eee;
    color: #bbb;
    cursor: not-allowed;
}
.ui-calendar .ui-calendar-year-column li.focused-element,
.ui-calendar .ui-calendar-month-column li.focused-element,
.ui-calendar .ui-calendar-date-column li.focused-element {
    color: #fff;
    background: #d64;
}
.ui-calendar .ui-calendar-footer {
    color: #999;
}
.ui-calendar .ui-calendar-today,
.ui-calendar .ui-calendar-time {
    width: auto;
    padding: 3px 4px;
}
.ui-calendar .ui-calendar-time {
    float: right;
}
/* ie fix */
.ui-calendar ul,.ui-calendar .ui-calendar-data-container {
    *float: left;
    *clear: both;
}