.user-info{
    float: right;
    margin-right: 0;
}
.my-photo {
    float: left;
    height: 66px;
    width: 66px;
    margin: 10px 0 0 10px;
}
.my-account-info {
    float: left;
    padding-left: 10px;
    height: 66px;
}
.my-account-info .ui-tit-m {
    color: #666;
    font-size: 14px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 12px;
}
.my-account-info .ui-securelevel-max, .ui-securelevel-high, .ui-securelevel-medium, .ui-securelevel-low {
    margin: 0px;
    overflow: hidden;
}
.my-account-toppart {
    padding-bottom: 10px;
}
.ui-securelevel-max-name, .ui-securelevel-high-name span {
    color: #5AAB04;
}
.show-infor-app {
    display: block;
    padding-bottom: 12px;
    padding-top: 12px;
}
.show-infor-app span.myapp-icon {
    margin: 4px 5px 16px 10px;
    width: 24px;
    height: 24px;
    text-indent: -9999px;
    overflow: hidden;
    float: left;
    display: inline;
    margin-bottom: 20px;
}
.show-infor-app-name {
    font-weight: 700;
    color: #666A72;
}
.show-infor-app-status {
    font-size: 12px;
    color: gray;
}
.recent {
    float: right;
    margin-right: 0px;
}
.myapp {
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}